@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


:root{
    --background: #190933;
    --lighter-background: #501ea1;
    --darker-contrast: hsl(172, 97%, 39%);
    --contrast: #41EAD4;
    --white: #FFF9FB;
    --gray: #696773;
}

/*scroll bar */
body::-webkit-scrollbar{
    width: 0.35rem;
}
body::-webkit-scrollbar-track{
    background: var(--contrast);
}
body::-webkit-scrollbar-thumb{
    background:  #501ea1;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--contrast);
}

/* Animation for background
    background-color: var(--background); 
    animation-name: stars;
    animation-iteration-count: infinite;
    animation-duration: 1s; //how long 1 blink of the star is */

@keyframes stars {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

img{
    width: 100%;
    max-width: 15rem;
    height: auto;
    display: block;
    margin: auto;
}
/* icons */

/* remember to color icons */
/*
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    background: #3B5998;
    color: white;
}

.fa-free-code-camp {
    background: #55ACEE;
    color: white;
}

.fa-codepen {
    background: #55ACEE;
    color: white;
}

.fa-linkedin{
    background: #55ACEE;
    color: white;
}
*/

/* navbar */
nav{
    padding: 4%;
    position: relative;
    top: 0;
    width: 100%;
    font-size: 1.1em;
    display: flex;
    justify-content: space-around;
    color: var(--contrast);
    font-family: 'Patrick Hand', cursive;
}
nav a{
    padding: 1%;
    border: 1px solid var(--contrast);
}
nav a:hover{
    color: var(--background);
    background-color: var(--contrast);
    padding: 1%;
}
nav p{
    display: inline;
}
a, u{
    text-decoration: none;
    color: var(--contrast);
}

/* smaller screen*/
@media (max-width: 600px){
    /*nav bar on small screens */
}

/* welcome section */
#welcome-section{
    margin-top: 0;
    padding-top: 0;
    display: block;
    height: 40vh;
}



@media screen and (min-width: 600px) {
    body{
        background-color: rgb(12, 212, 212);
    }

    #welcome-section{
        margin-top: 0;
        padding-top: 0;
        display: block;
        height: 50vh;
    }
}

@media (min-width: 900px){
    body{
        background-color: #190933;
    }

    #welcome-section{
        margin-top: 0;
        padding-top: 0;
        display: block;
        height: 100vh;
    }
}
