:root{
    --background: #190933;
    --contrast: #41EAD4;
    --white: #FFF9FB;
    --gray: #696773;
}

body{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    max-width: 15rem;
    height: auto;
    display: block;
    margin: auto;
}
/* icons */

/* remember to color icons */
/*
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    background: #3B5998;
    color: white;
}

.fa-free-code-camp {
    background: #55ACEE;
    color: white;
}

.fa-codepen {
    background: #55ACEE;
    color: white;
}

.fa-linkedin{
    background: #55ACEE;
    color: white;
}
*/

/* navbar */
#navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10rem;
}


/* welcome section */
#welcome-section{
    margin-top: 0;
    padding-top: 0;
    display: block;
    height: 100vh;
}



@media (min-width: 450px) {
    body{
        background-color: white;
    }
}